.just_center{
    /*justify-content:center;//子元素水平居中
    align-items:center;//子元素垂直居中
    display:-webkit-flex;*/

    /*display:flex;/*Flex布局*/
    /*display: -webkit-flex; /* Safari */
    /*align-items:center;/*指定垂直居中*/

    /*display: table-cell;
    vertical-align: middle;*/

    display         : flex;
justify-content : center;
flex-wrap       : wrap/wrap-reverse;
align-items     : center;
}

.flex-container {
  margin: 0 15px;
}
.flex-container .inline {
  width: 80px!important;
  margin: 9px 9px 9px 0;
}
.flex-container .small {
  height: 20px!important;
  line-height: 20px!important;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}
.placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
